h1 {
  text-align: center;
  color: #FFFFFF;
}

body {
  font-family: helvetica;
  margin: 2em;
  background-color: black;
}

h3 {
  text-align: center;
  font-style: bold;
  color: #FFFFFF; 
}

h5{
  text-align: center;
  font-style: bold;
  color: #FFFFFF; 
}

#poseidon {
  border: 5px solid #ddd;
  border-color: white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background: black;
  text-color: black;
}


#URL {
  width: 50%;
  font-size: 15px;
  padding: 15px;
  border: 5px solid #ddd;
  border-color: white;
  background: black;
  color: white;
  align: center;
}

#searchButton {
  border: 5px solid #ddd;
  border-color: white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background: black;
  text-color: black;
}

.search-bar {
  text-align: center;
}

.center {
  text-align: center;
}

.encryptbutton {
  text-align: center;
}

#encrypt {
  border: 5px solid #ddd;
  border-color: white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
  background: black;
  text-color: black;
}

.buttons {
  text-align: center;
}

#theseus {
  border: 5px solid #ddd;
  border-color: white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background: black;
  text-color: black;
}

#searchButton {
  border: 5px solid #ddd;
  border-color: white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background: black;
  text-color: black;
}

#other {
  text-align: center;
  font-style: bold;
  color: #FFFFFF; 
}

#mySearch {
  width: 50%;
  font-size: 15px;
  padding: 15px;
  border: 5px solid #ddd;
  border-color: white;
  background: black;
  color: white;
  align: center;
}